/*****************************************************************
******        Created by Sam Cannon, Homework #3           ******
*****************************************************************
*****************************************************************
*****************************************************************
*****************************************************************/

html {
	width: 100%;
	height: 100%;
	margin: 0px;
}

/*body {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
}*/
